/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: 1px solid green;
}

ul {
  list-style: none;
}


/**********************************
HEADING
***********************************/

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 20px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 1em;
  margin: 0 0 0;
  font-weight: normal;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
  font-weight: 700;
}


/**********************************
FOOTER
***********************************/

footer {
  clear: both;
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
}


/* TABLE*/

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: lightgreen;
  color: lightgoldenrodyellow;
}

tr {
  background: lightgoldenrodyellow;
  border-bottom: 1px solid lightgoldenrodyellow;
  margin-bottom: 5px;
  font-size: .8em;
}

tr:nth-child(even) {
  background: lightgoldenrodyellow;
}

th, td {
  text-align: center;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color:  lightgreen;                /*#8a97a0;*/
}


/**********************************
PAGE: SPRACHUNTERICHT
***********************************/

.site-title {
  color: #000;
  text-align: center;
}

#gallery {
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}



#gallery li {
  float: left;
  width: 22.5%;
  margin: 1%;
  background-color: lightyellow;
  /*color: #bdc3c7;*/
}

#gallery li p {
  font-size: 0.8em;
}

.tabs {
  position: relative;
  min-height: 200px;
  /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
  background-color: lightgoldenrodyellow;
}
.tab table {
  background-color: lightgoldenrodyellow;
}
.tab label {
  background:lightgoldenrodyellow;         /*#eee;*/
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  height: 500px;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.card {
  /*background: #6ab47b;*/
  height:250px;
  margin: 0 auto;
  background: white;
  padding: 0 1.5em 1.5em;
  overflow: hidden;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}

.card img {
  margin-top: 1.5em;
  max-width: 100%;
  /*max-width:  calc(100% + .75em);*/
  /*margin-left: -1.5em;*/
}


/* Page Info*/

#image-cinita-wrapper {
  margin-left: 50px;
}

.img-cintia {
  /*float: left;*/
  display: block;
  margin: 0 auto 30px;
  /*margin-right: 50px;*/
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 50%;
}


/* Page Gruppen */


/* Page Private */

.adresse {
  list-style: none;
  text-align: left;
  margin-bottom: 50px;
}

.adresse a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.adresse li.phone a {
  background-image: url('../img/phone.png');
}

.adresse li.mail a {
  background-image: url('../img/mail.png');
}

/* Page Anmeldung*/
.col-wrapper {
  width: 100%;
}

.col {
  float:left;
  width: 40%;
  color: black;
}

anmeldung-header {
  width: 50%;

}

section ul {
  list-style: disc;
  font-size: .7em;
  padding-left: 15px;
}

section p {
  font-size: .7em;
  padding-top: 15px;
  margin-bottom: 15px;
}

section h3 {
  width: 80%;
  margin-left: 35%;
  font-size: .8em;
}

section h6 {
  margin:15px 0 0 0;
}
section p {
  width:80%;
  margin: 0 auto;
  
}

section img {

  max-width: 100%;
  margin-left: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

/* Page Kurse                 */

#section-kurse {
  margin: 0 auto;
  
}

#kurs-list,#kurs-aktuell {
  clear:both;
  width: 300px;
  margin:0 auto;
  font-size: .8em;
  list-style: none;
}

#kurs-aktuell li span {
  font-weight: bold;
}
#aktuell {
  padding-top: 50px;
}


/**********************************
COLORS
***********************************/


/* site body */

body {
  background-color: lightgoldenrodyellow;
  color: #999;
  overflow: auto;
}


/* green header */

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  background: #6ab47b;
  border-color: #599a68;
  width: 100%;
}


/* nav background on mobile */

nav {
  background: #599a68;
}


/* logo text */

h1, h2 {
  color: #fff;
}


/* links */

a {
  color: #6ab47b;
}


/* nav link */

nav a, nav a:visited {
  color: #fff;
}


/* selected nav link */

nav a.selected, nav a:hover {
  color: #32673f;
}